<!DOCTYPE html>
<html lang="en">

<table id="teamTable"></table>
<table id="studentsTable"></table>
<head>

    <meta charset="UTF-8">
    <title>ApplicationForStudentAssessment</title>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 60%;
        }
        td, th {
            border: 1px solid #25199a;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #7070cc;
        }

    </style>
</head>
<body>

<form action="#">
    <input id="name_team" placeholder="Team name">
    <button onclick="createTeam()">Create Team</button>
</form>

<script>

    function loadTeam() {
        var xhttpTeam = new XMLHttpRequest();

        xhttpTeam.onreadystatechange = function () {
            var team = JSON.parse(this.responseText);
            var html = " ";
            for (var i = 0; i < team.length; i++) {
                var teams = team[i];
                console.log(teams);
                html = html + '<tr>' +
                    '           <td>' + teams.nameTeam + '</td>\n' +
                    '           <td><button onclick="deleteTeam(' + teams.id + ')">Delete</button>' +
                    '           <input id="student_name" placeholder="Student name">' +
                    '           <input id="student_lastName" placeholder="Student Lastname">' +
                    '           <button onclick="createStudent(' + teams.id + ')">Add student</button></td>';
            }
                    var yhttp = new XMLHttpRequest();
                        var students = JSON.parse(this.responseText);
                        var htmlStudents = " ";
                        for (var k = 0; k < students.length; k++) {
                            var student = students[k];
                            console.log(student);
                            htmlStudents = htmlStudents + '<tr>' +
                                '           <td>' + student.name + '</td>\n' +
                                '           <td>' + student.lastName + '</td>\n' +
                                '           <td>' + student.score + '</td>\n' +
                                '           <td><button onclick="plusBall(' + student.id + ')">+1</button>' +
                                '           <button onclick="deleteStudent(' + student.id + ')">Delete</button></td>';
                            yhttp.open("GET", "http://localhost:8080/students/findAll", true);
                            yhttp.send();
                            document.getElementById("studentsTable").innerHTML = htmlStudents;

                        }

                }

            document.getElementById("teamTable").innerHTML = html;
        }
        xhttpTeam.open("GET", "http://localhost:8080/teams/teamAll", true);
        xhttpTeam.send();
    }

    function deleteStudent(studentId) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("DELETE", "http://localhost:8080/students/delete/" + studentId, true);
        xhttp.send();
    }

    function deleteTeam(teamId) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("DELETE", "http://localhost:8080/teams/delete/" + teamId, true);
        xhttp.send();
    }
    function createStudent(teamId) {

        var studentName = document.getElementById("student_name").value;
        var studentLastName = document.getElementById("student_lastName").value;
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "http://localhost:8080/students/save");
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify({id: teamId, name: studentName, lastName: studentLastName}));
        loadTeam();
    }

    function createTeam() {
        var teamNameFromHttp = document.getElementById("name_team").value;

        var xmlhttpTeam = new XMLHttpRequest();
        xmlhttpTeam.open("POST", "http://localhost:8080/teams/save");
        xmlhttpTeam.setRequestHeader("Content-Type", "application/json");
        xmlhttpTeam.send(JSON.stringify({nameTeam: teamNameFromHttp}));

        loadTeam();
    }


    loadTeam();
</script>
</body>
</html>
